body{
	background: #232931;
	font-family: 'Roboto';
}

h1{
	background: #4ECCA3;
	color: #EEEEEE;
	margin: 0px;
	padding: 10px 20px 0px 20px;
	text-transform: uppercase;
	font-size: 24px;
	height: 40px;
	/*font-weight: normal;*/
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

li{
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #393E46;

}
li:nth-child(2n){
	background: #f7f7f7;
}
li:hover span{
	width: 40px;
}

input{
	font-size: 18px;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #4ECCA3;
	border: 3px solid rgba(0,0,0,0);
}
input:focus{
	background: #fff;
	border: 3px solid #4ECCA3;
	outline: none;
}

span{
	background: #4ECCA3;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
}

#container{
	width: 360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
	background: #f7f7f7;
}
.completed{
	color: gray;
	text-decoration: line-through;
}

.fa-plus{
	float: right;
	margin-left: 20px;
	/*padding-right: 20px;*/
}

.fa-volume-up, .fa-volume-off{
	float: right;
}

